<!DOCTYPE html>
<html>
<head>
	<title>Danh sách Đơn vị phụ trách</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
</style>
</head>
<body>
	<a href="/admin">
		<button>Trang Chủ</button>
	</a>
	<br>
	<a href="/admin/danh-sach-dvpt/them-dvpt">
		<button>Thêm Đơn vị phụ trách</button>
	</a>
	<table>
		<tr>
			<th>Mã Hoạt Động</th>
			<th>Cấp</th>
			<th>Tên</th>
			<th></th>
		</tr>
		<% for (var i = 0; i < ds_DVPT.length; i++) { %>
		<tr>
			<td><%= ds_DVPT[i].MaHD %></td>
			<td><%= ds_DVPT[i].Cap %></td>
			<td><%= ds_DVPT[i].Ten %></td>
			<td><a href='/admin/danh-sach-dvpt/sua-dvpt/<%= ds_DVPT[i].MaHD %>'>
				<button>Sửa DVPT</button>
			</a></td>
		</tr>
		<% } %>
	</table>
</body>
</html>
