<!DOCTYPE html>
<html>
<head>
	<title>Sửa SV</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-sv';
		}
	</script>
</head>
<body>
  <a href="/admin/danh-sach-sv/xoa-sv/<%= sv[0].MSSV %>"><button type="button" name="">Xóa Sinh Viên</button></a>
	<form action="/admin/danh-sach-sv/sua-sv/<%= sv[0].MSSV %>" method="post">
		<input type="text" name="MSSV" value="<%= sv[0].MSSV %>" placeholder="MSSV"><br>
		<input type="text" name="CMND" value="<%= sv[0].CMND %>" placeholder="CMND"><br>
		<input type="text" name="Ten" value="<%= sv[0].Ten %>" placeholder="Họ và tên"><br>
		<label for="MaKhoa">Khoa:</label>
		<select name="MaKhoa">
		<% for (var i = 0; i < khoa.length; i++) { %>
      <% if(sv[0].MaKhoa == khoa[i].MaKhoa) { %>
        <option selected value="<%= khoa[i].MaKhoa %>"><%= khoa[i].Ten %></option>
      <% } else { %>
        <option value="<%= khoa[i].MaKhoa %>"><%= khoa[i].Ten %></option>
      <% } %>
		<% } %>
		</select><br>
		<input type="text"  value="<%= sv[0].MaLop %>" name="MaLop" placeholder="Mã Lớp"><br>
		<input type="text" name="NamNhapHoc"  value="<%= sv[0].NamNhapHoc %>" placeholder="Năm Nhập Học"><br>
		<input type="text" name="SDT"  value="<%= sv[0].SDT %>" placeholder="Số điện thoại"><br>
		<input type="email" name="email"  value="<%= sv[0].Email %>" placeholder="Email"><br>
		<select name="GioiTinh">
      <% if(sv[0].GioiTinh[0] == 1) {%>
			   <option selected value="1">Nam</option>
			   <option value="0">Nữ</option>
      <% }else{ %>
        <option value="1">Nam</option>
        <option selected value="0">Nữ</option>
        <% } %>
		</select><br>
		<input type="date" name="NgaySinh" value="<%= sv[0].NgaySinh.toLocaleDateString(); %>" placeholder="Ngày sinh"><br>
		<input type="text" name="NoiSinh" value="<%= sv[0].NoiSinh %>" placeholder="Nơi sinh"><br>
		<input type="text" name="DiaChi" value="<%= sv[0].DiaChi %>" placeholder="Địa chỉ"><br>
    <input type="text" name="MatKhau" value="<%= sv[0].MatKhau %>" placeholder="Mật khẩu"><br>
		<input type="submit" value="Cập nhật"><br>
	</form>
	<button id='btn-cancle' onclick="clickbtn();">Hủy</button>
</body>
</html>
